In [2]:
import pandas as pd

In [5]:
file = open("./adult.data", "r")

adults = pd.read_csv('./adult.data',
                      header=None,
                      skipinitialspace=True,
                      names=[
                             'age', 'workclass', 'fnlwgt', 'education',
                             'education-num', 'marital-status', 
                             'occupation', 'relationship', 'race',
                             'sex', 'capital-gain', 'capital-loss',
                             'hours-per-week', 'native-country', 'income'
                            ]
                     )

adults

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,income
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32556,27,Private,257302,Assoc-acdm,12,Married-civ-spouse,Tech-support,Wife,White,Female,0,0,38,United-States,<=50K
32557,40,Private,154374,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,40,United-States,>50K
32558,58,Private,151910,HS-grad,9,Widowed,Adm-clerical,Unmarried,White,Female,0,0,40,United-States,<=50K
32559,22,Private,201490,HS-grad,9,Never-married,Adm-clerical,Own-child,White,Male,0,0,20,United-States,<=50K
32560,52,Self-emp-inc,287927,HS-grad,9,Married-civ-spouse,Exec-managerial,Wife,White,Female,15024,0,40,United-States,>50K

In [ ]:
# What are the 25th, 50th, and 75th pecentiles of the “education-num” field?

In [ ]:
# What is the probability that an adult makes more than $50k given that their education-num is within 
# the ranges defined by the above quantiles (from 0 to the 25th percentile, from the 25th to the 50th etc)?

In [ ]:
# Plot the change in probability that a person makes more and less than $50k given their years of education.

In [ ]:
# What is the covariance between the number of hours worked per week and education-num?

In [ ]:
# Use the pandas.DataFrame.boxplot functionality to create a box-and-whisker plot which illustrates 
# the spread of hours worked among adults who make both more and less than $50k.

In [ ]:
# Use the pandas.DataFrame.boxplot functionality to create a box-and-whisker plot which illustrates 
# the spread of hours worked among adults from each native country and who make more and less than $50k.

In [ ]:
# Create a table where entry (x, y) contains the conditional probability
# P(A random adult has level of education x|their education-num is y)

In [ ]:
# Create a table where entry (x, y) contains the conditional probability of having marital status x 
# given that they have occupation y.

In [ ]:
# What is the conditional probability of making more or less than $50k given that a person works 
# in each different occupation?

In [ ]:
# Plot the change in probability that a person makes more and less than $50k 
# given the amount that they work per week.

#### If A and B are independent, show that A¯ and B, A¯ and B, A¯ and B¯ are independent.

#### Suppose we send 30% of our products to company A and 70% of our products to company B. Company A reports that 5% of our products are defective and company B reports that 4% of our products are defective. For each probability below, compute the precise value by hand, and also write a short Python script to simulate the above scenario and estimate each probability by empirically examining the rates of each event.

1. Find the probability that a product is sent to company A and it is defective.

2. Find the probability that a product is sent to company A and it is not defective.

3. Find the probability that a product is sent to company B and it is defective.

4. Find the probability that a product is sent to company B and it is not defective.

#### Show that for events A and B that P(A|B) > P(A) implies P(B|A) > P(B).